services:
  - type: web
    name: alertdavao-backend
    env: node
    plan: free
    region: singapore
    rootDirectory: UserSide/backends
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DB_HOST
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_DATABASE
        sync: false
      - key: DB_PORT
        value: 3306 
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASSWORD
        sync: false
      - key: GOOGLE_WEB_CLIENT_ID
        sync: false
